* {
    margin: 0;
    padding: 0;
}

header{
    height: 75px;
    background-color: black;
    width: 100vw;
    position: absolute;
    top: 0px;
    width: 100%;
}

.logo{
    margin-right: auto;
}
.logoimg{
    height: 65px;
}
.headernav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.headerlink{
    margin-right: 20px;
    color: bisque;
}
.headerlink:hover{
    border-bottom: 2px dotted white;
    color: rgb(224, 161, 83);
}
body{
    background-color: rgb(39, 35, 35);
    
    
}

.headings {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 20px;
}

h2 {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
   
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

button {
    background-color: bisque;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: large;
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.3s;
    
}
button:hover{
    background-color: white;
}



.about{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ruleshead{
    margin: 15px;
}

.rules{
    color: bisque;
}

li{
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.footernote {
    background-color: black;
    padding: 10px;
    height: 65px;
    font-size: small;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;

}


.insta {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    height: min-content;
}
.insta:hover {
    border-bottom: 2px dotted white;
}


@media only screen and (max-width:425px){
    header{
        height: 75px;
        width: 100%, 100vh;
    }
    
    .logo{
        margin-right: auto;
    }
    .logoimg{
        height: 40px;
    }
    .headerlink{
        margin-right: 15px;
    }

    
    .headings {
        margin-top: 50px;
    }
    
    
    h1 {
        
        margin-bottom: 10px;
    }
 
    
    
    
    .gameplay {
        margin-top: 90px;
        
    }
    
    button {
        font-size: small;
        padding: 5px 10px;
        border-radius: 10px;
        
    }
     
    
    .about{
        margin-top: 70px;
    
    }
    
    .ruleshead{
        margin: 10px;
    }
    
    .rules{
      font-size: small;
      margin-left: 30px;
    }
    
    li{
        margin-top: 10px;
    }
    
    a{
        font-size: small;
    }
    
    .footernote {
        background-color: black;
        padding: 10px;
        height: 65px;
        font-size: small;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
    
    }
    
    
    .insta {
        height: min-content;
    }
    
}
